.login-section-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section {
    width: 1440px;
    display: flex;
    justify-content: space-between;
}

.login-left img {
    height: 920px;
    width: 958px;
    object-fit: cover;
}

.login-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right-logo {
    width: 100px;
    height: 34px;
    background-color: #CFD4ED;
}

.login-right-title {
    margin-top: 32px;
}

.login-right-title h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.login-right-input-bg {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-right-titleinput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-right-input-title p {
    font-size: 14px;
    line-height: 20px;
}

.login-right-input {
    width: 370px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.login-right-input input {
    outline: none;
    border: none;
    width: 100%;
}

.login-right-btn {
    margin-top: 31px;
}

.login-right-btn button {
    width: 100%;
    padding: 8px;
    background-color: #0D28A6;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}